* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* Background image */
html {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    font-family: 'DM Sans', sans-serif;
    color: rgb(211, 222, 222);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Header */

.heading {
    margin: auto;
    width: 100vw;
    font-family: 'DM Sans', sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    border-bottom: 2px solid wheat;
    box-shadow: 0 0 5px white;
}