/* Global style */

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "DM Sans", sans-serif;
    color: #373e44;
    text-align: center;
}

ul {
    list-style-type: none;
}

/* Heading */