/* Google Fonts import */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;1,9..40,200&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* Background image */
html {
    background-image: url('../images/background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

body {
    font-family: 'DM Sans', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
    text-align: center;
}

/* Header */

.heading {
    margin: auto;
    width: 100vw;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    border-bottom: 2px solid grey;
    box-shadow: 0 0 5px white;
    color: white;

}

a {
    text-decoration: none;
    color: white;
}

/* Footer */

#footer {
    margin-top: auto;
    padding-bottom: 10px;
    width: 100vw;
    font-family: 'DM Sans', sans-serif;
    border-top: 2px solid grey;
    box-shadow: 0 0 5px white;
    color: white;
    }

#socials {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 300px;
}

#socials>li {
    margin-top: 20px;
    width: 20%;
    list-style: none;
}

/* Content and Game area */

.content-area {
    margin: 35px 15px;
    width: 80%;
    height: 85vh;
    background-color: rgba(51, 51, 51, 0.7);
    padding: 15px;
    border-radius: 8px;
    border: 1.5px solid grey;
    box-shadow: 0 0 8px 2px grey;
    align-self: center;
}

.content-area p {
    padding: 5px;
    text-align: center;

}


h2,
h3 {
    padding: 5px;
    text-align: center;
}

.starting-text {
    font-size: medium;
}

#lyrics {
    margin: 3%;
    font-size: medium;
}

#question-no {
    margin: 3%;
}

ul {
    list-style-type: none;
}

ul li {
    font-size: 100%;
    padding: 10px;
}


/* Buttons */

#play-btn {
    margin: 5% auto;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 100%;
    background: none;
    color: white;
    border: 2px solid grey;
}

#play-btn:hover {
    margin: 5% auto;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 100%;
    background: none;
    color: white;
    border: 2px solid grey;
    box-shadow: 0 0 4px 2px grey;
}

.submit-btn {
    margin: 15px auto;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 100%;
    background: none;
    color: white;
    border: 2px solid grey;
}

.submit-btn:hover {
    margin: 15px auto;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 100%;
    background: none;
    color: white;
    border: 2px solid grey;
    box-shadow: 0 0 4px 2px grey;

}

.btn {
    background: none;
    color: white;
    font-weight: 500;
    width: 100%;
    border: 1px solid grey;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover:not([disabled]) {
    background: none;
    color: white;
    font-weight: 500;
    width: 100%;
    border: 1px solid grey;
    box-shadow: 0 0 4px 2px grey;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 3px;
    cursor: pointer;
}

.btn:disabled {
    cursor: no-drop;
}

/* Timer */

#timer-container {
    display: flex;
    align-items: center;
}

#timer {
    margin: 1px auto;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 100%;
    background: none;
    color: white;
    border: 2px solid grey;
}

/* 404 Page */

.container {
    text-align: center;

}

.here {
    text-decoration: underline;
}



/* Media Queries */
/* Media query for screens with minimum width of 768px (for tablets and larger) */

@media screen and (min-width: 768px) {
    .content-area {
        margin: 35px 15px;
        width: 60%;
        height: 70vh;
        background-color: rgba(51, 51, 51, 0.7);
        padding: 15px;
        border-radius: 8px;
        border: 1.5px solid grey;
        box-shadow: 0 0 8px 2px grey;
        align-self: center;
    }

    #play-btn {
        margin: 2% auto;
        border-radius: 5px;
        padding: 12px 20px;
        font-size: 100%;
        background: none;
        color: white;
        border: 2px solid grey;
    }
    
    #play-btn:hover {
        margin: 2% auto;
        border-radius: 5px;
        padding: 12px 20px;
        font-size: 100%;
        background: none;
        color: white;
        border: 2px solid grey;
        box-shadow: 0 0 4px 2px grey;
    }

    #name {
        margin: 2% auto;
        border-radius: 5px;
        padding: 12px 20px;
        font-size: 100%;
        background: none;
        color: white;
        border: 2px solid grey;
    }

}